<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Translator.Properties.Settings>
            <setting name="KısayolTusu" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="KaynakDil" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="HedefDil" serializeAs="String">
                <value>tr</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiRegion" serializeAs="String">
                <value />
            </setting>
        </Translator.Properties.Settings>
    </userSettings>
</configuration>